
h1{
  text-align:center;
  fontfamily:impact,arial;
  color:red;
  font-size:50px;
  font-weight:bold;
}
p{
  background-color:white;
  color=black;
  font-size=15pt;
  padding=10px;
  width=60%;
  font-weight=extrabold;
  margin:auto;
  text-align:justify;
  line-height:30pt;
  font-family:Serif;
}
